{{ "social/social-icons.css" | global_asset_url | stylesheet_tag }}
				<style>
					.social-links a {
						display: -moz-inline-stack;
						display: inline-block;
						zoom: 1;
						*display: inline;
						margin: 0;
						padding: 0.05em;
						color: var(--color-text-light) !important;
						font-size: 30px !important;
					}
				</style>
				<span class="social-links">
					<a
						href="https://www.facebook.com/shopify"
						rel="noopener noreferrer"
						target="_blank"
						title="Follow us on Facebook"
					>
						<span class="shopify-social-icon-facebook-rounded"></span>
					</a>
					<a
						href="https://twitter.com/shopify"
						rel="noopener noreferrer"
						target="_blank"
						title="Follow us on Twitter"
					>
						<span class="shopify-social-icon-twitter-rounded"></span>
					</a>
					<a
						href="https://instagram.com"
						rel="noopener noreferrer"
						target="_blank"
						title="Follow us on Instagram"
					>
						<span class="shopify-social-icon-instagram-rounded"></span>
					</a>
					<a
						href="https://youtube.com"
						rel="noopener noreferrer"
						target="_blank"
						title="Follow us on YouTube"
					>
						<span class="shopify-social-icon-youtube-rounded"></span>
					</a>
				</span>