<style>
.password-reset-container {
  display: flex;
  justify-content: center;
  padding:30px
}
</style>
 {%- comment -%}This is for sticky header {%- endcomment -%}
 <div style="height:70px; background-color: var(--color-palette-1);"></div>

<section class="password-reset-container page-width">
    <div class="theme-form">
      <p>ご希望の新しいパスワードを入力してください。</p>
        {% form 'reset_customer_password' %}

            {{ form.errors | default_errors }}

            <div class="form-control">
                <label for="password">パスワード</label>
                <input name="customer[password]" size="16" type="password" value=""/>
            </div>

            <div class="form-control">
                <label for="password_confirmation">パスワード再入力(確認)</label>
                <input name="customer[password_confirmation]" size="16" type="password" value=""/>
            </div>


            <input class="btn btn-tertiary" type="submit" value="パスワード設定"/>
        {% endform %}


    </div>


  </section>


{%- comment -%}
<!-- /templates/customers/reset_password.liquid -->

{% form 'reset_customer_password' %}

{{ form.errors | default_errors }}

<label for="password">Password</label>
<input type="password" value="" name="customer[password]" size="16" />

<label for="password_confirmation">Password Confirmation</label>
<input
  type="password"
  value=""
  name="customer[password_confirmation]"
  size="16"
/>


<input type="submit" value="Reset Password" />
{% endform %}


{%- endcomment -%}
