<section class="page-width">
    <h1 class="section-header">{{ section.settings.featured_collection.title }}</h1>

    <div class="featured-collection">
        {% for product in collections[section.settings.featured_collection].products limit: 4 %}
            <div>
                {% render 'product-card-slide' product:product %}
            </div>
        {% endfor %}
    </div>
</section>
{% schema %}
{
    "name": "Featured Collection",
    "class": "featured-collection-section",
    "settings" :[
    {
        "type": "collection",
        "id": "featured_collection",
        "label": "Featured_collection"
    }
    ],
    "presets": [
        {
            "category": "Collection",
            "name":"Featured-Product"
        }
    ]
}
{% endschema %}