 {%- comment -%}This is for sticky header {%- endcomment -%}
 <div style="height:70px; background-color: var(--color-palette-1);"></div>
 
<div class="not-found-container page-width">
    <div class="not-found-message-box">
        <h1>Not Found</h1>
        
        <p>お探しのページは見つかりません</p>
        <a class="btn btn-primary" href="{{ shop.url }}">ホームに戻る</a>
    </div>
</div>