/* Brand logos */
.brand-logos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: var(--color-palette-1);
	margin-top: 20px;
	margin-bottom: 20px;

	.image-box {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		color: var(--color-text-light);
		width: 100%;
		margin: 20px 0px 20px 0px;
	}
}

.logo-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	img {
		width: 200px;
		height: 200px;
		border-radius: 5px;
		margin: 30px 30px 10px 30px;
	}
	h3 {
		color: var(--color-text-light);
	}
}
